#side-nav {
  background-color: #eceff1;
  height: inherit;
  text-align: center;
  overflow: auto;
}

#side-nav li {
  padding: 1.5em;
}

#side-nav a {
  width: 100%;
}

#main-content {
  height: inherit;
  overflow: scroll;
}

#home-page {
  height: 90vh;
}
main .row {
  margin-bottom: 0px;
}
