#side-nav {
  background-color: #eceff1;
  height: inherit;
  text-align: center;
  overflow: scroll;
}

#side-nav li {
  padding: 1.5em;
}

#side-nav a {
  width: inherit;
  overflow: visible;
}

#main-content {
  height: inherit;
  overflow: scroll;
}

#home-page {
  height: 90vh;
  margin-top: 55px;
}

main .row {
  margin-bottom: 0px;
}

.chip i {
  cursor: pointer;
  float: right;
  font-size: 16px;
  line-height: 32px;
  padding-left: 8px;
}
