/***********************
 * Essential Structure *
 ***********************/
.flexsearch--wrapper {
  height: auto;
  width: auto;
  max-width: 100%;
  overflow: hidden;
  background: transparent;
  margin: 0;
  position: static;
}

.flexsearch--form {
  overflow: hidden;
  position: relative;
}

.flexsearch--input-wrapper {
  padding: 0 66px 0 0; /* Right padding for submit button width */
  overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}

/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
  padding: 0 25px 0 0; /* Padding for other horizontal elements */
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding: 0 46px 0 10px;
  border-radius: 21px; /* (height/2) + border-width */
  border: solid 1px #ccc;
  margin: 5px 0 5px 10px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
  font-size: 15px;
  padding: 0 0 0 30px;
  background: #ededed
    url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat
    9px center;
  -webkit-appearance: none;
  -moz-appearance: none;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.flexsearch--submit {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 60px;
  height: 60px;
  padding: 0 80px 0 0;
  border: none;
  margin-top: -4px; /* margin-top + border-width */
  margin-right: 5px; /* border-width */
  background: transparent;
  color: #888;
  font-family: 'Helvetica', sans-serif;
  font-size: 40px;
  line-height: 60px;
}

.flexsearch--input:focus {
  outline: none;
  background-color: #fff;
  border-color: #66cc75;

  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

.flexsearch--input:focus.flexsearch--submit {
  color: #333;
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #888;
}

input:-moz-placeholder {
  color: #888;
}

/****************
 * Pretify *
 ****************/
.logo {
  float: left;
  margin: 5px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
}
.signup {
  float: right;
  margin: 5px 40px 5px 0;
  color: #333;
  font-family: 'Helvetica', sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
}
.top-nav {
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 1;
  overflow: hidden;
}
