.mr-3 {
  margin-right: 1rem !important;
}

#main-wrapper,
#main-content {
  display: flex;
  flex: 1;
}

#main-wrapper {
  height: 100%;
  width: 100%;
}

#main-top-bar {
  position: relative;

  height: 70px;
  min-height: 70px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: #673ab7;
  background: linear-gradient(90deg, #673ab7, #a910d6);
  color: #fff;

  padding-left: 1rem;
}

.shape {
  width: 40%;
  height: 70px;

  -webkit-clip-path: polygon(94% 0, 100% 26%, 100% 100%, 0 100%, 22% 0);
  clip-path: polygon(94% 0, 100% 26%, 100% 100%, 0 100%, 22% 0);

  background: #673ab7;
  background: linear-gradient(90deg, #6740b4, #892fc4);
}

.main-logo {
  background: url(https://rolecalljobs.com/img/RoleCall_WhiteLogo.svg) no-repeat;
  width: 140px;
  height: 55px;
}

.user-dropdown,
.user-menu {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.user-menu {
  height: 70px;
  padding: 0 1rem;
  top: 0;
  z-index: 10;
}

.user-menu:hover {
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.1);
}

.user-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-image-wrapper {
  height: 70px;
  background-color: transparent;
  z-index: 20;
}

.user-image {
  display: inline-block;
  margin-top: 14px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.user-name-wrapper {
  padding-left: 1rem;
}

.user-name-wrapper i {
  padding: 0 0.3rem;
}

.user-menu.show {
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.1);
}

.user-menu.show .user-dropdown {
  box-shadow: -2px 4px 7px #ccc;
  display: block;
}

.user-dropdown {
  position: absolute;
  top: 70px;
  display: none;
  right: 0;
  width: 220px;
  background-color: #fff;
  cursor: pointer;
}

.dropdown-item {
  color: #000;
  display: block;
  padding: 1rem;
  text-decoration: none;
}

.dropdown-item:active,
.dropdown-item:hover {
  background-color: #ebf5ff;
}

.dropdown-item span {
  color: #03a9fa;
  display: inline-block;
  width: 24px;
  text-align: center;
}
